.App {
  text-align: center;
  background-image: url("https://res.cloudinary.com/dh41vh9dx/image/upload/v1642382116/horizon.png");
  height: 100vh;
}

.App p {
  margin: 0.4rem;
}
.consent-manager-button{
  background-color: black;
  color: white;
  margin-top: 200px
}